/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {font-family: 'museo_sans500_italic'; src: url('./fonts/museosans_500_italic.eot'); src: url('./fonts/museosans_500_italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_500_italic.woff2') format('woff2'), url('./fonts/museosans_500_italic.woff') format('woff'), url('./fonts/museosans_500_italic.ttf') format('truetype'), url('./fonts/museosans_500_italic.svg#museo_sans500_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'museo_sans500'; src: url('./fonts/museosans_500.eot'); src: url('./fonts/museosans_500.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_500.woff2') format('woff2'), url('./fonts/museosans_500.woff') format('woff'), url('./fonts/museosans_500.ttf') format('truetype'), url('./fonts/museosans_500.svg#museo_sans500') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'museo_sans100'; src: url('./fonts/museosans-100.eot'); src: url('./fonts/museosans-100.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-100.woff2') format('woff2'), url('./fonts/museosans-100.woff') format('woff'), url('./fonts/museosans-100.ttf') format('truetype'), url('./fonts/museosans-100.svg#museo_sans100') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'museo_sans900'; src: url('./fonts/museosans_900.eot'); src: url('./fonts/museosans_900.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_900.woff2') format('woff2'), url('./fonts/museosans_900.woff') format('woff'), url('./fonts/museosans_900.ttf') format('truetype'), url('./fonts/museosans_900.svg#museo_sans900') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'museo_sans700'; src: url('./fonts/museosans_700.eot'); src: url('./fonts/museosans_700.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans_700.woff2') format('woff2'), url('./fonts/museosans_700.woff') format('woff'), url('./fonts/museosans_700.ttf') format('truetype'), url('./fonts/museosans_700.svg#museo_sans700') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'museo_sans300_italic'; src: url('./fonts/museosans-300italic.eot'); src: url('./fonts/museosans-300italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-300italic.woff2') format('woff2'), url('./fonts/museosans-300italic.woff') format('woff'), url('./fonts/museosans-300italic.ttf') format('truetype'), url('./fonts/museosans-300italic.svg#museo_sans300_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'museo_sans100_italic'; src: url('./fonts/museosans-100italic.eot'); src: url('./fonts/museosans-100italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-100italic.woff2') format('woff2'), url('./fonts/museosans-100italic.woff') format('woff'), url('./fonts/museosans-100italic.ttf') format('truetype'), url('./fonts/museosans-100italic.svg#museo_sans100_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'museo_sans300'; src: url('./fonts/museosans-300.eot'); src: url('./fonts/museosans-300.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-300.woff2') format('woff2'), url('./fonts/museosans-300.woff') format('woff'), url('./fonts/museosans-300.ttf') format('truetype'), url('./fonts/museosans-300.svg#museo_sans300') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'museo_sans900_italic'; src: url('./fonts/museosans-900italic.eot'); src: url('./fonts/museosans-900italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-900italic.woff2') format('woff2'), url('./fonts/museosans-900italic.woff') format('woff'), url('./fonts/museosans-900italic.ttf') format('truetype'), url('./fonts/museosans-900italic.svg#museo_sans900_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'museo_sans700_italic'; src: url('./fonts/museosans-700italic.eot'); src: url('./fonts/museosans-700italic.eot?#iefix') format('embedded-opentype'), url('./fonts/museosans-700italic.woff2') format('woff2'), url('./fonts/museosans-700italic.woff') format('woff'), url('./fonts/museosans-700italic.ttf') format('truetype'), url('./fonts/museosans-700italic.svg#museo_sans700_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'brush_up_tooregular'; src: url('./fonts/brush_up_too.eot'); src: url('./fonts/brush_up_too.eot?#iefix') format('embedded-opentype'), url('./fonts/brush_up_too.woff2') format('woff2'), url('./fonts/brush_up_too.woff') format('woff'), url('./fonts/brush_up_too.ttf') format('truetype'), url('./fonts/brush_up_too.svg#brush_up_tooregular') format('svg'); font-weight: normal; font-style: normal; }

::selection {
  color: white;
  background: #ca3837;
}
::-moz-selection {
  color: white;
  background: #ca3837;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
	font-family: 'museo_sans300', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background: #FFF;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

#container{
	background: url(../images/bg.jpg) 0 0 repeat-y;
	display: block;
	width: 810px;
	height: 2869px;
	margin: 0 auto;

	header{
		background: url(../images/bg-header.jpg) 0 16px no-repeat;
		position: relative;
		display: block;
		height: 330px;

		.titulo{
			background: url(../images/bg-titulo.png) 0 0 no-repeat;
			position: absolute;
			display: block;
			width: 455px;
			height: 195px;
			text-indent: -9999px;
			top: 60px;
			left: 193px;
		}
	}

	footer{
		position: relative;
		display: block;
		height: 235px;

		.wrap-footer{
			display: block;
			width: 732px;
			margin: 0 auto;

			.left-side{
				float: left;
				width: 50%;
				height: 100px;
			}

			.right-side{
				float: left;
				width: 50%;
				height: 100px;
			}

			.link{
				position: relative;
				display: block;
				color: #FFFFFF;
				font-size: 15px;
				text-align: center;
				text-decoration: none;
				margin-top: 40px;
			}
		}
	}

	.video-campanha{
		background: #CCCCCC;
		position: relative;
		display: block;
		width: 732px;
		height: 210px;
		margin: 0 auto;
	}

	.timeline{
		position: relative;
		display: block;
		width: 732px;
		height: 295px;
		margin: 0 auto 54px auto;
		padding-top: 34px;

		h2{
			position: relative;
			display: block;
			font-family: 'museo_sans700',sans-serif;
			text-align: center;
			font-size: 22px;
			color: #f5c112;
		}
	}

	.mosaico{
		position: relative;
		display: block;
		width: 732px;
		margin: 0 auto 30px auto;

		.wrap-abas{
			width: 732px;
			margin: 0 auto;

			.tabs{
				height: 40px;
				position: relative;
				display: block;
				list-style: none;
				margin-bottom: 15px;

				li{
					position: relative;
					display: block;
					float: left;

					a{
						background: #790000;
						position: relative;
						display: block;
						text-decoration: none;
						text-transform: lowercase;
						font-family: 'museo_sans700',sans-serif;
						font-size: 14px;
						color: #FFFFFF;
						padding: 12px 64px;
						border-right: 1px solid #993c3c;
						border-left: 1px solid #902323;
						-webkit-transition: all 200ms linear;
						-moz-transition: all 200ms linear;
						-ms-transition: all 200ms linear;
						-o-transition: all 200ms linear;
						transition: all 200ms linear;

						&:hover{
							background: #FFFFFF;
							color: #790000;
							-webkit-transition: all 200ms linear;
							-moz-transition: all 200ms linear;
							-ms-transition: all 200ms linear;
							-o-transition: all 200ms linear;
							transition: all 200ms linear;
						}

						&.ativo{
							background: #FFFFFF;
							color: #790000;
						}
					}

					&:first-child a{
						border-left: 0 none; 
					}

					&:last-child a{
						border-right: 0 none;
					}
				}
			}
			
			.tabs-content-container {
				position: relative;
				display: block;

				.tab-content {
					display: none;
				
					&.ativo {
						display: block;
					}
				}

				.tag{
					position: absolute;
					display: block;
					font-family: 'museo_sans700',sans-serif;
					font-size: 11px;
					color: #FFFFFF;
					top: 5px;
					left: 5px;
				}
			
				.box{
					position: relative;
					display: block;
					clear: both;

					&:before,
					&:after {
						content: " ";
						display: table;
						clear: both;
					}

					.pequeno{
						float: left;
						position: relative;
						display: block;
						width: 50%;
						height: 210px;
						color: #FFFFFF;
						
						img{
							position: relative;
							display: block;
							margin: 0;
							padding: 0;
							border: 0;

						}
					}

					.download{
						font-family: 'museo_sans700',sans-serif;

						.bg-box{
							width: 366px;
							height: 210px;
						}
						
						.text{
							position: absolute;
							display: block;
							text-align: right;
							font-size: 18px;
							color: #FFFFFF;
							top: 70px;
							left: 60px;
						}

						.icon{
							position: absolute;
							display: block;
							width: 96px;
							height: 86px;
							top: 62px;
							left: 140px;
						}

						.link-download{
							position: absolute;
							display: block;
							text-align: left;
							top: 75px;
							left: 255px;
							font-size: 18px;
							color: #FFFFFF;
							text-decoration: none;

							a{
								position: relative;
								display: block;
								width: 47px;
								font-size: 9px;
								text-decoration: none;
								background: #FFFFFF;
								padding: 3px 0;
								text-align: center;
								-webkit-border-radius: 3px 3px 3px 3px;
								border-radius: 3px 3px 3px 3px;

								&.ver{
									color: #414141;
									margin-bottom: 10px
								}

								&.download{
									color: #d11918;
									margin-top: 10px;
								}
							}
						}
					}

					.video{
						.play{
							position: relative;
							display: block;

							&:after{
								content: ' ';
								position: absolute;
								display: block;
								background: url(../images/play-video.png) 0 0 no-repeat;
								width: 68px;
								height: 68px;
								top: 50%;
								left: 50%;
								margin-top: -34px;
								margin-left: -34px;
							}
						}

						p{
							position: absolute;
							display: block;
							font-family: 'museo_sans700',sans-serif;
							font-size: 18px;
							color: #FFFFFF;
							text-align: left;
							top: 20px;
							left: 5px;
						}

						.envie{
							background: #ca3837;
							position: absolute;
							display: block;
							width: 85px;
							padding: 3px 0;
							font-size: 9px;
							font-family: 'museo_sans700',sans-serif;
							text-align: center;
							color: #FFFFFF;
							top: 47px;
							left: 5px;
							text-decoration: none;
							-webkit-border-radius: 3px 3px 3px 3px;
							border-radius: 3px 3px 3px 3px;							
						}
					}

					.grande{
						position: relative;
						display: block; 		
						clear: both;
						width: 100%;
						height: 210px;
						color: #FFFFFF;
					}

					.prevencao{
						.tag{
							color: #be2f2d;
						}

						.info{
							position: absolute;
							display: block;
							background: url(../images/bar-info-prevencao.png) top left no-repeat;
							top: 0;
							right: 105px;
							color: #be2f2d;
							padding-top: 67px;
							padding-left: 17px;

							h2{
								font-family: 'museo_sans700',sans-serif;
								color: #ca3837;
								font-size: 25px;
								margin-bottom: 7px;
							}
							
							p{
								font-family: 'museo_sans700',sans-serif;
								color: #ca3838;
								font-size: 12px;
								margin-bottom: 7px;
							}

							.iniciar{
								position: relative;
								display: block;
								background: #ca3837;
								font-size: 9px;
								font-family: 'museo_sans700',sans-serif;
								color: #FFFFFF;
								width: 45px;
								padding: 3px 0;
								-webkit-border-radius: 3px 3px 3px 3px;
								border-radius: 3px 3px 3px 3px;
								text-align: center;
								text-decoration: none;
							}
						}
					}

					.quiz{
						.tag{
							color: #be2f2d;
						}
					}

					.tratamento{
						height: 190px;
					}
				}
			}
		}
	}
}
